---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  SECRET_NETBOOT_SVC: "#{ bootstrap_netboot_svc }#"
  SECRET_QB_SVC: "#{ bootstrap_qbitorrent_svc }#"
  SECRET_PLEX_SVC: "#{ bootstrap_plex_svc }#"
  SECRET_JELLYFIN_SVC: "#{ bootstrap_jellyfin_svc }#"
  TIMEZONE: "Asia/Kuala_Lumpur"
  SECRET_NFS_SVC: "#{ bootstrap_nfs_svc }#"
  SECRET_NFS_MNT: "#{ bootstrap_nfs_mnt }#"
  SECRET_NODE_NETWORK: "#{ bootstrap_node_network }#"
  SECRET_POD_NETWORK: "#{ bootstrap_pod_network }#"
  SECRET_AUTHENTIK_DB_PASSWORD: "#{ authentik_POSTGRES_PASS }#"
  SECRET_AUTHENTIK_SECRET_KEY: "#{ authentik_secret_key }#"
  #% if bootstrap_cloudflare.enabled %#
  SECRET_DOMAIN: "#{ bootstrap_cloudflare.domain }#"
  SECRET_ACME_EMAIL: "#{ bootstrap_cloudflare.acme.email }#"
  SECRET_CLOUDFLARE_TUNNEL_ID: "#{ bootstrap_cloudflare.tunnel.id }#"
  #% else %#
  SECRET_EXAMPLE: Global secrets for your cluster go in this file, this file is encrypted with sops
  #% endif %#
