---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 15m
  values:
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/hostname: Gamat
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
      automountServiceAccountToken: false
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
    controllers:
      main:
        containers:
          main:
            image:
              repository: homeassistant/home-assistant
              tag: "2024.5"
            env:
              TZ: "${TIMEZONE}"
          code:
            dependsOn: main
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.89.1
            args:
              - --auth
              - "none"
              - --user-data-dir
              - "/config/.vscode"
              - --extensions-dir
              - "/config/.vscode"
              - --port
              - "8081"
              - "/config"
    persistence:
      config:
        enabled: true
        existingClaim: home-assistant-pvc
        globalMounts:
          - path: /config
      media:
        enabled: true
        existingClaim: home-assistant-pvc-media
        globalMounts:
          - path: /media
    service:
      main:
        controller: main
        ports:
          http:
            port: 8123
      code:
        type: ClusterIP
        controller: main
        ports:
          http:
            port: 8081
    ingress:
      main:
        enabled: true
        className: "internal"
        hosts:
          - host: &host1 ha.${SECRET_DOMAIN}
            paths:
              - path: "/"
                pathType: "Prefix"
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
            - *host1
      code:
        enabled: true
        className: internal
        hosts:
          - host: &host2 "coder.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: code
                  port: http
        tls:
          - hosts:
            - *host2

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: home-assistant-pv-media
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 5Gi
  persistentVolumeReclaimPolicy: Retain
  local:
    path: /opt/home-media
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - Gamat

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: home-assistant-pvc-media
spec:
  volumeName: home-assistant-pv-media
  accessModes:
    - ReadWriteOnce
  storageClassName: "nfs-csi"
  resources:
    requests:
      storage: 5Gi


---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: home-assistant-pv
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 30Gi
  persistentVolumeReclaimPolicy: Retain
  local:
    path: /opt/home
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - Gamat

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: home-assistant-pvc
spec:
  volumeName: home-assistant-pv
  accessModes:
    - ReadWriteOnce
  storageClassName: ""
  resources:
    requests:
      storage: 5Gi
