---
apiVersion: v1
kind: Secret
metadata:
    name: cloudnative-pg
type: Opaque
stringData:
    username: "#{ cloudnative_user }#"
    password: "#{ cloudnative_password }#"
---
apiVersion: v1
kind: Secret
metadata:
    name: cluster-secret
type: Opaque
stringData:
    aws-access-key-id: "#{ aws_access_id }#"
    AWS_SECRET_ACCESS_KEY: "#{ aws_secret_access_key }#"
