---
apiVersion: v1
kind: Secret
metadata:
    name: cloudnative-pg-secrets
stringData:
    username: "#{ cloudnative_user }#"
    password: "#{ cloudnative_password }#"
---
apiVersion: v1
kind: Secret
type: kubernetes.io/basic-auth
metadata:
  name: cloudnative-pg
stringData:
    aws-access-key-id: "#{ aws_access_id }#"
    aws-secret-access-key: "#{ aws_secret_access_key }#"
