---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  interval: 15m
  chart:
    spec:
      chart: longhorn
      version: 1.6.2
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system
      interval: 15m
  driftDetection:
    mode: enabled
  maxHistory: 3
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    pspEnable: false

    preUpgradeChecker:
      jobEnabled: false

    persistence:
      defaultClass: true
      defaultFsType: ext4
      defaultClassReplicaCount: 2
      defaultDataLocality: best-effort
      migratable: true

    defaultSettings:
      orphanAutoDeletion: false
      nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod

      concurrentAutomaticEngineUpgradePerNodeLimit: 2
      storageOverProvisioningPercentage: 100
      storageMinimalAvailablePercentage: 10
      guaranteedInstanceManagerCPU: 5

      createDefaultDiskLabeledNodes: true
      allowEmptyDiskSelectorVolume: false

      defaultLonghornStaticStorageClass: longhorn
      defaultDataPath: /var/lib/longhorn
      defaultDataLocality: best-effort
      defaultReplicaCount: 2
      backupTarget: "nfs://#{ bootstrap_nfs_svc }#:#{ bootstrap_nfs_mnt }#"


      backupstorePollInterval: 60
      failedBackupTTL: 1440
      allowRecurringJobWhileVolumeDetached: true
      restoreVolumeRecurringJobs: true

      snapshotDataIntegrity: fast-check
      snapshotDataIntegrityImmediateCheckAfterSnapshotCreation: false
      snapshotDataIntegrityCronjob: 0 8 */7 * *

      autoCleanupSystemGeneratedSnapshot: true
      autoDeletePodWhenVolumeDetachedUnexpectedly: true
      removeSnapshotsDuringFilesystemTrim: enabled

      #deletingConfirmationFlag: false
      upgradeChecker: false
      v2DataEngine: false

    csi:
      attacherReplicaCount: 2
      provisionerReplicaCount: 2
      resizerReplicaCount: 2
      snapshotterReplicaCount: 2


    ingress:
      enabled: true
      ingressClassName: "internal"
      host: longhorn.${SECRET_DOMAIN}
      path: /

    metrics:
      serviceMonitor:
        enabled: true
