---
apiVersion: v1
kind: Secret
metadata:
    name: cloudnative-pg
stringData:
    username: "#{ cloudnative_user }#"
    password: "#{ cloudnative_password }#"
    aws-access-key-id: "#{ aws_access_id }#"
    aws-secret-access-key: "#{ aws_secret_access_key }#"
