---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
spec:
  interval: 15m
  chart:
    spec:
      interval: 15m
      chart: app-template
      version: 3.3.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      main:
        pod:
          securityContext:
            supplementalGroups:
              - 44
              - 5600
        containers:
          main:
            image:
              repository: jellyfin/jellyfin
              tag: 10.9.8@sha256:836232f7ffa1fdac5d043a592806422c33c68da2616f303f831e3ac25bfb6f1a
            env:
              TZ: "${TIMEZONE}"
            resources:
              requests:
                # gpu.intel.com/i915: 1
                cpu: 23m
                memory: 7486M
              #limits:
                #  gpu.intel.com/i915: 1
                #  memory: 7486M
    service:
      main:
        controller: main
        type: LoadBalancer
        externalTrafficPolicy: Local
        annotations:
          io.cilium/lb-ipam-ips: "${SECRET_JELLYFIN_SVC}"
        ports:
          http:
            port: 8096
    ingress:
      main:
        className: "internal"
        hosts:
          - host: &host "jelly.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: main
                  port: http
    persistence:
      config:
        existingClaim: jellyfin-config
        globalMounts:
          - path: /config
      cache:
        existingClaim: jellyfin-cache
        globalMounts:
          - path: /cache
      media:
        type: nfs
        server: ${SECRET_NFS_SVC}
        path: ${SECRET_NFS_MNT}
        globalMounts:
          - path: /media
            readOnly: true
      transcode:
        type: emptyDir
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "jellyfin-config"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "jellyfin-cache"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn
