---
apiVersion: v1
kind: Secret
metadata:
    name: paperless-secrets
stringData:
    PAPERLESS_ADMIN_USER: "#{ paperless_admin_user }#"
    PAPERLESS_ADMIN_PASSWORD: "#{ paperless_admin_password }#"
    PAPERLESS_SECRET_KEY: "#{ paperless_secret_key }#"
